extends layout.pug

block title
  title 文档管理

block styles
  link(rel="stylesheet", href="/public/style/home.css")  

block content
  section.home
    .wrapper.ui.container
      h2.ui.center.aligned.icon.header
        i.circular.book.icon
        |  文档列表

      .content
        table.ui.celled.table.striped 
          thead
            tr
              th 文档名
              th 作者
              th 更新时间
              th.wide.seven 操作
          tbody
            each doc in docList
              tr
                td
                  .ui.ribbon.red.label=doc.category
                  = doc.title
                td
                  a.ui.image.label.blue 
                    img(src="/public/image/boy.jpg")
                    = doc.user.name
                    .detail= doc.user.detail
                td= helper.dayjs(doc.update).format('YYYY-MM-DD HH:mm:ss')
                td
                  a.button.ui.blue.mini(href="/doc/" + doc.id)
                    i.icon.unhide
                    | 查看
                  a.button.ui.yellow.mini(href="/doc/" + doc.id + '/edit')
                    i.icon.write
                    | 修改
                  button.button.ui.red.mini
                    i.icon.remove
                    | 删除
                  button.button.ui.teal.mini
                    i.icon.download
                    | 下载
                  button.ui.purple.button.mini.generate(data-docId=doc.id)
                    i.icon.wizard
                    | 生成
                  a.button.ui.blue.mini(href="/chapter?docId=" + doc.id)
                    i.icon.unhide
                    | 文章页
          tfoot
            tr
              th(colspan="4")
                a.ui.primary.basic.button.circular.icon(title="新增文档" href="/doc/new")
                  i.icon.add
                .ui.right.floated.pagination.menu
                  a.icon.item
                    i.left.chevron.icon
                  a.item 1
                  a.item 2
                  a.item 3
                  a.item 4
                  a.icon.item
                    i.right.chevron.icon

block scripts
  script(src="/public/js/home.js")