<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    block title
      title Document
    link(rel="stylesheet", href="/public/third/sematic-ui/semantic.min.css")
    script(src="/public/third/jquery.min.js")
    script(src="/public/third/sematic-ui/semantic.min.js")
    block styles
    block scripts   
  body
    block content
    block footer