script(src="/public/third/markdown/markdown-it.min.js")
script(src="/public/third/markdown/to-mark.js")
script(src="/public/third/markdown/tui-code-snippet.js")
script(src="/public/third/markdown/tui-color-picker.js")
script(src="/public/third/markdown/codemirror.js")
script(src="/public/third/markdown/highlight.pack.js")
script(src="/public/third/markdown/squire-raw.js")
link(rel="stylesheet", href="/public/third/markdown/codemirror.css")
link(rel="stylesheet", href="/public/third/markdown/github.css")
link(rel="stylesheet", href="/public/third/tui.editor/tui-editor.min.css")
link(rel="stylesheet", href="/public/third/tui.editor/tui-editor-contents.min.css")
script(src="/public/third/tui.editor/tui-editor-Editor-all.min.js")