{
  "extends": "eslint-config-egg",
  "rules": {
    "eol-last": [0],
    "linebreak-style": 0,
    "array-bracket-spacing": 0,
    "space-before-function-paren": 0,
    "no-trailing-spaces": 0,
    "valid-jsdoc": 0
  }
}